<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/movies/new.css" />
<%- include('../partials/nav') %>
<main>
  <h1><%= title %></h1>
  <form id="new-form" action="" method="">
    <label for="airline-input">Airline:</label>
    <input type="text" name="airline" id="airline-input">
    <label for="flight-number-input">Flight Number:</label>
    <input type="text" name="flightNum" id="flight-number-input">
    <label for="crew-input">Crew (separate the crew with commas):</label>
    <input type="text" name="crew" id="crew-input">
    <label for="available-seats-checkbox">Available Seats:</label>
    <input type="checkbox" name="availableSeats" id="available-seats-checkbox" checked>
    <button type="submit">Add Flight</button>
  </form>
</main>
<%- include("../partials/footer") %>